@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 200 1000;
  font-display: fallback;
  src: url('/fonts/mulish-var-latin.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-off::-webkit-scrollbar {
    display: none;
  }

  .gradient-1 {
    background: linear-gradient(100.14deg, #E5A956 0%, #F0C27A 100%);
  }

  .showPopUp {
    visibility: visible;
  }
}

html,
body {
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #F6F7F9;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}